body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex; /* This creates a flex container for the main content */
  justify-content: space-between; /* This spaces out the stats and top users */
  margin: 50px; /* Adjust margin as necessary */
  max-width: 1200px; /* Adjust maximum width as necessary */
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  border-radius: revert;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.container {
  display: flex;
  flex-direction: column; /* Stacks the title and content vertically */
  width: 48%; /* Adjust width as necessary */
}

.stats-title, .top-users-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.stats-column, .top-users-column {
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 20px;
}

h1 {
  font-size: 72px;
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

li {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

.login-title {
  font-size: 48px; /* Or any size you prefer */
  font-weight: bold;
  font-style: italic; /* This will make it cursive */
  margin-bottom: 30px; /* Gives some space between the title and the form */
}

.login-section {
  display: flex;
  justify-content: center;
}

.login-error-message {
  color: red;
      display: flex;
      align-items: left;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
}

.login-label {
  text-align: left;
}

.signin-container {
  padding: 30px 60px 30px 60px;
  border-style: dashed;
  justify-content: center;
  margin-top: 200px;
}

.login-btn {
  margin: 0;
}

.form-group {
  padding: 10px 0px 10px 0px;
}

.home-section {
  text-align: center;
  margin-top: 200px;
  justify-content: center;
}

.home-section > div {
  padding: 25px 0px 25px 0px;
}

.table-header {
  background-color: darkgrey;
}

.evenRow {
  background-color: lightgrey;
}

.oddRow {
  background-color: inherit;
}

.users-table {
  width: 100%;
}

table {
  border: black;
  border-style: solid;
}

th, td {
  border: solid;
  padding: 5px;
}

td {
  border-bottom-style: none;
  border-top-style: none;
}

.modal-content {
  border-radius: unset;
  border-width: 3px;
  border-color: black;
  width: 50%;
}

.modal {
  --bs-modal-header-padding: 0.3rem;
  --bs-modal-header-border-width: 3px;
  --bs-modal-header-border-color: black;

}

.modal-dialog {
  justify-content: center;
}

.modal-inner-container {
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.home-btn {
  margin: 7px;
}

.create-container {
  padding: 15px 0px 15px 0px;
}

.link-disabled {
  opacity: 0.5px;
  text-decoration: none;
  pointer-events: none;
}

.navbar {
  height: 60px; /* Adjust as necessary */
  width: 100%;
  /* Other styles... */
}

.main-content {
  padding-top: 70px; /* More than the height of the navbar to ensure space */
  /* Other styles... */
}

.form-group {
    padding: 5 0 5 0;
}

.btn {
    margin: 0 0 0 0;
}

.form-container {
    margin-top: 25px;
}

.required:after {
    content: " *";
    color: red;
}

.error-message {
    color: red;
    margin-left: 0px;
    display: inline;
}

.form-control {
    display: inline;
    width: 100%;
}

select.form-control {
    -webkit-appearance: menulist;
    appearance: revert;
}

.errors-container {
    display: inline-grid;
}

.button-container {
    padding: 15 0 15 0;
}

/* Titles Flex Container */
.titles-flex-container {
  display: flex;
  justify-content: space-between; /* Positions the titles at the start and end */
  margin-bottom: 20px; /* Adds some space between the titles and the content below */
}

/* Flex container should now only be used for the inner content and not titles */
.stats-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  /* Remove align-items if it's there */
}
