body {
  background-color: #5C6BC0; /* softer shade of gray */
}

.btn {
  background-color: #ffffff; /* primary color */
  color: #5C6BC0;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #3F51B5; /* a shade darker for hover effect */
}

main {
  display: flex; /* This creates a flex container for the main content */
  justify-content: space-between; /* This spaces out the stats and top users */
  margin: 50px; /* Adjust margin as necessary */
  max-width: 1200px; /* Adjust maximum width as necessary */
  margin-left: auto;
  margin-right: auto;
}

span {
  color: #ffffff;
  font-weight: bold;
}

.form-control {
  background-color: #ffffff; /* white background for input fields */
  border: 1px solid #ced4da; /* lighter border */
  padding: .375rem .75rem; /* padding for better text entry */
  border-radius: .25rem; /* rounded corners */
  margin-bottom: 1rem; /* space between form controls */
}

select.form-control {
  cursor: pointer; /* indicates it's a dropdown */
}

.container {
  display: flex;
  flex-direction: column; /* Stacks the title and content vertically */
  width: 48%; /* Adjust width as necessary */
}

.stats-title, .top-users-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.stats-column, .top-users-column {
  background: #ffffff;
  color: #3F51B5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 20px;
}

body, select, input, button {
  font-family: 'Arial', sans-serif;
  color: #333333; /* darker font color for better contrast */
}

h1 {
  font-size: 36px; /* reduced size for better hierarchy */
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

h2 {
  color: #ffffff;
  font-weight: bold;
}

h3 {
  color: #3F51B5;
  font-weight: bold;
}

a {
  color: yellow;
}

li {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

.login-title {
  font-size: 60px; /* Or any size you prefer */
  font-style: italic; /* This will make it cursive */
  margin-bottom: 30px; /* Gives some space between the title and the form */
}

.login-section {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.login-error-message {
  color: red;
      display: flex;
      align-items: left;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
}

.login-label {
  color: #ffffff;
  font-weight: bold;
  text-align: left;
}

.signin-container {
  padding: 30px 60px 30px 60px;
  border-style: dashed;
  justify-content: center;
  margin-top: 200px;
}

.grade-btn {
  margin: 0;
  display: flex;
  border: 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.subject-btn {
  margin: 0;
  display: flex;
  border: 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.login-btn {
  margin: 0;
}

.form-group {
  padding: 10px 0px 10px 0px;
}

.home-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5%;
}

.home-section > div {
  padding: 25px 0px 25px 0px;
}

.table-header {
  background-color: darkgrey;
}

.evenRow {
  background-color: lightgrey;
}

.oddRow {
  background-color: inherit;
}

.users-table {
  width: 100%;
}

table {
  border: black;
  border-style: solid;
}

th, td {
  border: solid;
  padding: 5px;
}

td {
  border-bottom-style: none;
  border-top-style: none;
}

.modal-content {
  border-radius: unset;
  border-width: 3px;
  border-color: black;
  width: 50%;
}

.modal {
  --bs-modal-header-padding: 0.3rem;
  --bs-modal-header-border-width: 3px;
  --bs-modal-header-border-color: black;

}

.modal-dialog {
  justify-content: center;
}

.modal-inner-container {
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.home-btn {
  margin: 7px;
}

.create-container {
  padding: 15px 0px 15px 0px;
}

.link-disabled {
  opacity: 0.5px;
  text-decoration: none;
  pointer-events: none;
}

.navbar {
  height: 60px;
  width: 100%;
}

.main-content {
  padding-top: 70px;
}

.form-group {
    padding: 5 0 5 0;
}

.btn {
    margin: 0 0 0 0;
}

.form-container {
    margin-top: 25px;
}

.required:after {
    content: " *";
    color: yellow;
}

.error-message {
    color: orange;
    font-weight: bold;
    margin-left: 0px;
    display: inline;
}

.form-control {
    display: inline;
    width: 100%;
}

select.form-control {
    -webkit-appearance: menulist;
    appearance: revert;
}

.errors-container {
    display: inline-grid;
}

.main-content {
  padding: 2rem; /* increase padding around the main content */
}

.create-container, .form-group {
  margin-bottom: 2rem; /* more space at the bottom of sections */
}

.button-container {
  display: flex;
  justify-content: flex-start; /* align buttons to the left */
  gap: 1rem; /* space between buttons */
}

button[type="submit"] {
  background-color: #4CAF50; /* green color for submit to indicate action */
  color: white;
}



button:disabled {
  background-color: #E0E0E0; /* greyed out if disabled */
  color: #9E9E9E;
  cursor: not-allowed;
}

.titles-flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1rem; /* smaller padding for smaller screens */
  }

  .button-container {
    flex-direction: column; /* stack buttons vertically on small screens */
  }

  .form-control, button {
    width: 100%; /* full width for small screens */
  }
}

.stats-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.lesson-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  align-self: center;
  gap: 1rem; /* space between buttons */
}

.lesson-button {
  width: 100%; /* example width, adjust as needed */
  padding: 0.5rem 1rem; /* adjust padding to make the buttons larger */
}

/* Add to your index.css */
.grade-button-container, .subject-button-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* creates a responsive grid layout */
  gap: 1rem; /* space between buttons */
  justify-items: center; /* centers buttons horizontally in the grid */
  justify-content: center;
}

.grade-button {
  padding: 0.5rem 1rem; /* adjust padding to make the buttons larger */
  cursor: pointer; /* indicates that the item is clickable */
}

.lesson-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 245px
}

.lesson-select, .lesson-option {
  display: flex;
  border: 0;
  border-radius: 5px;
  padding: 1.5%;
}

.lesson-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 10px;
  padding: 2px 0 2px 10px;
  margin-bottom: 5px;
}

.lesson-answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 10px;
}

.lesson-variant {
  display: flex;
  gap: 10px;
}

.lesson-checkbox {
  height: 25px;
  width: 25px;
  display: flex;
  align-self: center;
}

.task-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10%;
}

.main-form {
  display: flex;
  width: fit-content;
  gap: 15px;
}

.main-form--subject, .main-form--grade, .main-form--title {
  display: flex;
  border: 0;
  border-radius: 5px;
  padding: 3px;
  width: fit-content;
}

.main-form--add, .main-form--create {
  display: flex;
  border: 0;
  border-radius: 3px;
  padding: 5px;
  width: 140px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  color: white;
}

.main-form--add {
  background-color: #FFC107;
  color: white;
}

.main-form--add:hover {
  background-color: rgb(126, 92, 31);
}

.main-form--create:hover {
  background-color: rgb(11, 73, 11);
}

.main-form--back {
  background-color: red;
  display: flex;
  border: 0;
  border-radius: 3px;
  padding: 5px;
  width: 140px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  color: white;
}

.main-form--back:hover {
  background-color: rgb(104, 17, 17);
}

.button-back {
  margin: 0;
  display: flex;
  border: 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red;
  font-size: 25px;

  transition: background-color 0.5s;
}

.button-back:hover {
  background-color: red;
  color: white;
  font-weight: bold;
}

.grade-title {
  margin-top: 20px;
}

.answer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.practice-section {
  margin-top: 7%;
}
